.banner {
    background: url('../../assets/banner2.jpg') no-repeat;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
}